@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    min-height: 100vh;
    margin: 0;
    background-color: #090947;
    background-image: linear-gradient(315deg, #090947 0%, #5a585a 74%);

}

section {
    min-height: 100vh;
    margin: 0;
}

#intro {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;
}

#intro-content {
    font-size: 2.5rem;
}

.typewriter {
    overflow: hidden; /* Ensures the content is not revealed until the animation */
    border-right: .15em solid orange; /* The typwriter cursor */
    white-space: nowrap; /* Keeps the content on a single line */
    margin: 0 auto; /* Gives that scrolling effect as the typing happens */
    letter-spacing: .15em; /* Adjust as needed */
    animation: 
      typing 3s steps(20, end),
      blink-caret .5s step-end infinite;
  }
  
.typewriter2{
    overflow: hidden; /* Ensures the content is not revealed until the animation */
    border-right: .15em solid orange; /* The typwriter cursor */
    white-space: nowrap; /* Keeps the content on a single line */
    margin: 0 auto; /* Gives that scrolling effect as the typing happens */
    letter-spacing: .15em; /* Adjust as needed */
    animation: 
      typing2 6s steps(20, end),
      blink-caret .5s step-end infinite;
  }
  
  /* The typing effect */
  @keyframes typing {
    from { width: 0 }
    to { width: 40% }
  }
  
  @keyframes typing2 {
    0%{
        width: 0;
    }
    50%{
        width: 0;
    }
    100%{
        width: 30%;
    }

    to { width: 40% }
  }

  /* The typewriter cursor effect */
  @keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: orange; }
  }
