@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');



:root {
    --typewriterSpeed: 2s;
    --typewriterCharacters: 9;
}

* {
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    min-height: 100vh;
    margin: 0;
    background-color: #090947;
    background-image: linear-gradient(315deg, #090947 0%, #5a585a 74%);

}

section {
    min-height: 80vh;
    margin: 0;
}

#nav-bar {
    position: fixed;
    right: 1.1rem;
    display: flex;
    flex-direction: horizontal;
}

#nav-bar ul {
    opacity: 0.7;
    list-style: none;
    gap: 5px;
    
}

#nav-bar ul li {
    text-align: right;
    color: white;
    font-size: 1.3rem;
    background-color: rgba(255,255,255,0.3);
    border-radius: 20px;
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 5px;
}

#nav-button {
    width: 40px;
    height: 40px;
    border: 0;
    background: transparent;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#nav-button:hover {
    background-color: grey;
}


/* ------------ */
/* intro section */

#intro {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;
}

#intro-content {
    width: max-content;
    font-size: clamp(1rem, 3vw + 1rem, 4rem);
    font-family: monospace;
    position: relative;
    background-color: #090947;
    border-radius: 10px;
    box-shadow: 0 0 1px 1px black;
}

#intro-content::before,
#intro-content::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

#intro-content::before {
    background-color: #090947;
    border-radius: 10px;
    animation: 
        typewriter var(--typewriterSpeed) steps(var(--typewriterCharacters)) 1s forwards;
}

#intro-content::after {
    width: 0.125em;
    background: white;
    animation: 
        typewriter var(--typewriterSpeed) steps(var(--typewriterCharacters)) 1s forwards,
        blink .75s steps(9) infinite;
 }

@keyframes typewriter {
    to {
        left: 100%;
    }
}

@keyframes blink {
    to {
        background: transparent;
    }
}

#sub-intro {
    font-size: 1rem;
    letter-spacing: 2px;
    opacity: 0;
    transform: translateY(3rem);
    animation: fadeInUp 2s ease 4s forwards;

}

@keyframes fadeInUp {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

#intro-content {
    scale: 1; opacity: 1;
    animation: fade-out linear forwards;
    animation-timeline: view();
    animation-range: exit -100px;
}


@keyframes fade-out {
    to { scale: .8; opacity: 0;}
}

@keyframes fade-in {
    to { scale: 1; opacity: 1;}
}

#download {
    background-color: transparent;
    border-radius: 20px;
    display: flex;
    justify-content: center; 
    gap: 10px;
    border-style: solid;
    color: white;
    scale: 1; opacity: 1;
    animation: fade-out linear forwards;
    animation-timeline: view();
    animation-range: exit -100px;
    font-size: 1.2rem;
    width: max-content;
}

#download span {
    border-style: solid;
    border-radius: 20px;
}

/* ---------------- */
/* AboutMe Section */

#about-me {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 50px;
}

#about-me-h1 h1{
    color: white;
    font-size: 2rem;
}

#about-me-h1 {
    scale: .8; opacity: 0;
    animation: fade-in linear forwards;
    animation-timeline: view();
    animation-range: contain;
}

#about-me-grid {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

#description p {
    color: white;
    max-width: 80vw;
    font-size: 1.5rem;
    scale: .8; opacity: 0;
    animation: fade-in linear forwards;
    animation-timeline: view();
    animation-range: cover cover 500px;
}

